.creature{
    display:flex;
    flex-direction: column;
    align-items: center;
}
p{
    width: 100px;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stats{
    display: flex;
}
.hp{
    background-color: rgb(61, 193, 65);
}
.coins{
    background-color: gold;
}
.potions{
    background-color: aquamarine;
}
.dmg{
    background-color: rgb(166, 16, 16);
}
.name{
    background-color: dimgray;
}
.enemyImg, .heroImg{
    width: auto;
    height: 400px;
    max-width: 300px;
}